vrrp_script check_haproxy {                 
    script "/home/keepalived_script/keepalived_script.sh" 
    weight 20                              
    interval 1               
}
vrrp_instance {{ ansible_hostname }} {             
    interface ens3
    virtual_router_id 1
    {% if  inventory_hostname == 'vlmalo-1'  %}
    priority 100
    {% else %}
    priority 99
    {% endif %}
    advert_int 1
    authentication {
    auth_type PASS
    auth_pass {{ vrrp_password }}
}
    virtual_ipaddress {                     
{% set octet = ansible_default_ipv4.address.split('.')[2] %}
{% set fourth_octet = hostvars['vlmalo-1']['ansible_default_ipv4']['address'].split('.')[3] %}
        192.168.{{ octet|int + 58 }}.{{ fourth_octet }}/24
    }
    unicast_peer {
	{% for vm in groups['keepalived'] %}                          
        {% if inventory_hostname  != vm %}
          {{ hostvars[vm]['ansible_default_ipv4']['address'] }}
        {% endif %}
	{% endfor %}
    }
    track_script {
        check_haproxy
    }
}
