apiVersion: 1

providers:
  - name: 'provider'
    orgId: 1
    folder: ''
    folderUid: ''
    type: file
    updateIntervalSeconds: 10
    allowUiUpdates: false
    options:
      # <string, required> path to dashboard files on disk. Required when using the 'file' type
      path: /etc/grafana/provisioning/dashboards/

