# Configuration file version
apiVersion: 1


deleteDatasources:
  - name: Prometheus
# List of data sources to insert/update depending on what's
# available in the database.
datasources:
  # <string, required> Sets the name you use to refer to
  # the data source in panels and queries.
  - name: Prometheus
    # <string, required> Sets the data source type.
    type: prometheus
    uid: e758c7e9-0e62-4a76-b1eb-93a6f9237888
    # <string, required> Sets the access mode, either
    # proxy or direct (Server or Browser in the UI).
    # Some data sources are incompatible with any setting
    # but proxy (Server).
    access: proxy
    # <int> Sets the organization id. Defaults to orgId 1.
    orgId: 1
    # <string> Sets the data source's URL, including the
    # port.
    url: http://prometheus:9090/prometheus
    #isDefault: true
    version: 1
    editable: false
