apiVersion: 1

deleteDatasources:
 - name: InfluxDB:latency

datasources:
 - name: InfluxDB:latency
   type: influxdb
   access: proxy
   url: http://{{ groups['influxdb'][0] }}:8086
   database: latency
