[Unit]
Description= Influxdb Exporter Service
After=network.target

[Service]
User=prometheus
ExecStart=/usr/local/bin/influx_stats_exporter

[Install]
WantedBy=multi-user.target
