acl lan {
    {% for n in lan_ip %}
    {{ n }};
    {% endfor %}
};


options {
  directory "/var/cache/bind";

  forwarders {
      {% for n in forwarders %}
      {{ n }};
      {% endfor %}
  };

  allow-query { lan; };
  dnssec-validation no;
};

statistics-channels {
	inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "transfer_key" {
    algorithm hmac-sha256;
    secret "{{ transfer_key }}";
};

key "update_key" {
    algorithm hmac-sha256;
    secret "{{ update_key }}";
};
