acl abc { 192.168.42.0/24; 192.168.7.0/24; 127.0.0.0/8; };

options {
  directory "var/lib/bind";

  forwarders {
    1.1.1.1;
    8.8.8.8;
    9.9.9.9;
  };


  allow-query { abc };
  dnssec-validation no;
};
