acl lan {
    {% for n in lan_ip %}
    {{ n }};
    {% endfor %}
};

options {
  directory "var/lib/bind";

  forwarders {
      {% for n in forwarders %}
      {{ n }};
      {% endfor %}
  };

  allow-query { lan };
  dnssec-validation no;
};
