# https://prometheus.io

global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
    metrics_path: /prometheus/metrics

  - job_name: 'linux'
    static_configs:
      - targets:
          {% for vm in groups['all'] %}
          - {{ vm }}:9100
          {% endfor %}

  - job_name: 'bind'
    static_configs:
      - targets:
          - ns-1:9119
          - ns-2:9119
          - ns-3:9119

  - job_name: 'nginx'
    static_configs:
      - targets:
          - www-1:9113
          - www-2:9113

  - job_name: 'mysql'
    static_configs:
      - targets:
          - mysql-1:9104
          - mysql-2:9104

  - job_name: 'influx'
    static_configs:
      - targets:
          - influxdb:9424

  - job_name: haproxy
    static_configs:
      - targets:
          - lb-1:9101
          - lb-2:9101

  - job_name: keepalived
    static_configs:
      - targets:
          - lb-1:9165
          - lb-2:9165

